<% layout('layouts/boilerplate.ejs') %>

<h1>Edit <%= camp.title %> campground</h1>

<form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post">
	<div class="">
		<label for="title">Title </label>
		<!-- campground[title] refers to group content in json -->
		<input type="text" name="campground[title]" id="title" value="<%= camp.title %> " />
	</div>
	<div class="">
		<label for="location">Location </label>
		<input type="text" name="campground[location]" id="location" value="<%= camp.location %> " />
	</div>
	<button>Update campground</button>
</form>

<br />
<a href="/campgrounds/<%= camp._id %>">Cancel</a>
