<% layout('layouts/boilerplate.ejs') %>

<h1>All Campgrounds</h1>
<a href="/campgrounds/new">Add new campground</a>

<% for(camp of campgrounds) { %>
<div class="card my-2">
	<div class="row">
		<div class="col-md-4">
			<% if(camp.images.length >= 1) { %>
			<img src="<%= camp.images[0].url %>" class="card-img-top img-fluid" alt="..." />
			<% } else { %>
			<img src="https://source.unsplash.com/collection/483251" class="card-img-top img-fluid" alt="..." />
			<% } %>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title"><%= camp.title %></h5>
				<p class="card-text"><%= camp.description %></p>
				<p class="card-text"><small class="text-muted"><%= camp.location %></small></p>
				<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">See Details</a>
			</div>
		</div>
	</div>
</div>
<% } %>
